.container-sm.table,tr{
    height: 50px!important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    margin-left: 1rem;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)) !important;
    box-shadow: 1px 1px 12px 2px #a90202;
}
.table{
    --bs-table-bg: transparent!important;
        color: red !important;
    --bs-table-color: white !important;
}