.sidebar {
    position: fixed;
    top: 0; /* Adjust top to start right below your navbar if needed */
    right: -100%;
    width: 250px; /* Adjust the width of the sidebar */
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);    transition: ease-in-out 0.3s;
    padding: 1rem;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 1040;
}

.sidebar.open {
    right: 0; /* Moves sidebar into view */
    background: linear-gradient(rgb(0 0 0 / 92%), rgb(14 0 0 / 88%));
    backdrop-filter: blur(10px);
    margin-top: 13%;
    border-radius: 100px;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1035; /* Below sidebar but above everything else */
}
.btns{
    color: red;
    margin-top: -2.9rem;
}
.navbar-nav{
    margin-top: -2.9rem;
}
.nav-link {
    transition: color 0.3s ease-in-out, background-color 0.3s ease; /* Smooth transition for color and background */
}

.nav-link:hover, .nav-link:focus { /* Focus is added for accessibility */
    color: #a90101 !important; /* Ensures the color change is applied over Bootstrap */
    background-color: white !important; /* Ensures the background change is applied */
    border-radius: 30px;
}
ul.navbar-nav li.nav-item a.nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 30px;
}

ul.navbar-nav li.nav-item a.nav-link:hover,
ul.navbar-nav li.nav-item a.nav-link:focus {
    color: #ad0000 !important;
    background-color: white !important;
    border-radius: 30px;
}
.navbar-toggler{
    margin-top: -2rem;
}


